<!DOCTYPE html>
<html>
  <head>
    <title>Timer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/javascripts/app.js">
    </script>
  </head>
  <body>
