<%- include('./partials/header') %>;
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <div id="timer">
    <p>0</p>
    <button class="start"><span>Start!</span></button>
    <button class="stop"><span>Stop</span></button>
    <button class="restart"><span>restart</span></button>
<%- include('./partials/footer') %>
